<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.etc.exam.dao.UserQuestionsMapper">
  <resultMap id="BaseResultMap" type="com.etc.exam.entity.UserQuestions">
    <id column="USERNAME" jdbcType="VARCHAR" property="username" />
    <id column="QUESTIONID" jdbcType="DECIMAL" property="questionid" />
    <id column="TESTPAPERID" jdbcType="DECIMAL" property="testpaperid" />
    <result column="MYANSWER" jdbcType="VARCHAR" property="myanswer" />
    <result column="ISRIGHT" jdbcType="VARCHAR" property="isright" />
    <result column="CORRECTSCORE" jdbcType="DECIMAL" property="correctscore" />
   <collection property="list" ofType="com.etc.exam.entity.Question">
      <id column="QUESTIONID" jdbcType="DECIMAL" property="QUESTIONID" />
    <result column="QTYPEID" jdbcType="DECIMAL" property="QTYPEID" />
    <result column="SUBJECTID" jdbcType="DECIMAL" property="SUBJECTID" />
    <result column="QUESTIONTITLE" jdbcType="VARCHAR" property="QUESTIONTITLE" />
    <result column="ANSWER" jdbcType="VARCHAR" property="ANSWER" />
    <result column="EXPLAIN" jdbcType="VARCHAR" property="EXPLAIN" />
    <result column="QOPTION" jdbcType="VARCHAR" property="QOPTION" />
    <result column="SCORE" jdbcType="DECIMAL" property="SCORE" />
    <result column="TITLEIMG" jdbcType="VARCHAR" property="TITLEIMG" />
    </collection>
  </resultMap>
  <sql id="Base_Column_List">
    USERNAME, QUESTIONID, TESTPAPERID, MYANSWER, ISRIGHT, CORRECTSCORE
  </sql>
  <select id="selectByPrimaryKey" parameterType="com.etc.exam.entity.UserQuestionsKey" resultMap="BaseResultMap">
    select 
   *
    from T_USERQUESTIONS,T_QUESTION
    where  T_USERQUESTIONS.QUESTIONID=T_QUESTION.QUESTIONID
   		and USERNAME = #{username,jdbcType=VARCHAR}
     <!--  and T_USERQUESTIONS.QUESTIONID = #{questionid,jdbcType=DECIMAL}  -->
      and TESTPAPERID = #{testpaperid,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.etc.exam.entity.UserQuestionsKey">
    delete from T_USERQUESTIONS
    where USERNAME = #{username,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=DECIMAL}
      and TESTPAPERID = #{testpaperid,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.etc.exam.entity.UserQuestions">
    insert into T_USERQUESTIONS (USERNAME, QUESTIONID, TESTPAPERID, 
      MYANSWER, ISRIGHT, CORRECTSCORE
      )
    values (#{username,jdbcType=VARCHAR}, #{questionid,jdbcType=DECIMAL}, #{testpaperid,jdbcType=DECIMAL}, 
      #{myanswer,jdbcType=VARCHAR}, #{isright,jdbcType=VARCHAR}, #{correctscore,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.etc.exam.entity.UserQuestions">
    insert into T_USERQUESTIONS
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="username != null">
        USERNAME,
      </if>
      <if test="questionid != null">
        QUESTIONID,
      </if>
      <if test="testpaperid != null">
        TESTPAPERID,
      </if>
      <if test="myanswer != null">
        MYANSWER,
      </if>
      <if test="isright != null">
        ISRIGHT,
      </if>
      <if test="correctscore != null">
        CORRECTSCORE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="questionid != null">
        #{questionid,jdbcType=DECIMAL},
      </if>
      <if test="testpaperid != null">
        #{testpaperid,jdbcType=DECIMAL},
      </if>
      <if test="myanswer != null">
        #{myanswer,jdbcType=VARCHAR},
      </if>
      <if test="isright != null">
        #{isright,jdbcType=VARCHAR},
      </if>
      <if test="correctscore != null">
        #{correctscore,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.etc.exam.entity.UserQuestions">
    update T_USERQUESTIONS
    <set>
      <if test="myanswer != null">
        MYANSWER = #{myanswer,jdbcType=VARCHAR},
      </if>
      <if test="isright != null">
        ISRIGHT = #{isright,jdbcType=VARCHAR},
      </if>
      <if test="correctscore != null">
        CORRECTSCORE = #{correctscore,jdbcType=DECIMAL},
      </if>
    </set>
    where USERNAME = #{username,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=DECIMAL}
      and TESTPAPERID = #{testpaperid,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.etc.exam.entity.UserQuestions">
    update T_USERQUESTIONS
    set MYANSWER = #{myanswer,jdbcType=VARCHAR},
      ISRIGHT = #{isright,jdbcType=VARCHAR},
      CORRECTSCORE = #{correctscore,jdbcType=DECIMAL}
    where USERNAME = #{username,jdbcType=VARCHAR}
      and QUESTIONID = #{questionid,jdbcType=DECIMAL}
      and TESTPAPERID = #{testpaperid,jdbcType=DECIMAL}
  </update>
  <select id="getcount" parameterType="com.etc.exam.entity.UserQuestionsKey" resultType="java.lang.Integer" >
  select count(*) from T_USERQUESTIONS where USERNAME=#{username,jdbcType=VARCHAR} and TESTPAPERID=#{testpaperid,jdbcType=DECIMAL}
  </select>
</mapper>